*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f4f4f4;
  --text-color: #565656;
  --primary-color: #008ad8;
}

body {
  margin: 0;
  background: var(--bg-color);
  font-family: 'Lexend Deca', sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 2.8em;
}

.headings p {
  font-size: 1.125rem;
  color: var(--text-color);
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.search {
  border: none;
  padding: 0.8em;
  border-radius: 2em;
  background: white;
  width: 100%;
}

.search::before {
  content: '';
  background: url('./assets/search.svg') url('./assets/search.svg') no-repeat
    right 0.8em center;
}

.menu {
  margin: 0 0.5em;
  cursor: pointer;
}

.search:focus {
  outline: thin solid;
  outline-color: var(--primary-color);
}

.options {
  position: relative;
}

.filters {
  position: absolute;
  top: 3em;
  right: 1em;
  background: white;
  padding: 2em 1.5em;
  border-radius: 6px;
  box-shadow: 11px 18px 54px rgba(0, 0, 0, 0.11);
  clip-path: circle(0% at 100% 0%);
  transition: clip-path 0.3s ease-in-out;
}

.filter {
  margin-bottom: 1.125em;
}

.filter:last-of-type {
  margin-bottom: 0;
}

.labels {
  display: none;
}

.car-name {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.22rem;
}

.car-location {
  color: var(--text-color);
  font-size: 1.125rem;
}

.cols-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.far,
.fas {
  cursor: pointer;
}

.cars:hover {
  background: white;
}

.cars,
.labels {
  margin: -1em -1em 2em;
  padding: 1em;
  border-radius: 6px;
}

@media screen and (min-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headings p {
    margin: 0.5em 0 3em;
  }

  .options {
    width: 33%;
  }

  .icons {
    margin-bottom: 0;
  }

  .labels {
    display: grid;
    grid-template-columns: 40% 30% 20% auto;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 0.2em 1em;
  }

  .cars {
    display: grid;
    grid-template-columns: 40% 30% auto;
  }

  .car-location {
    margin: 0;
  }

  .cols-2 {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .far,
  .fas {
    margin-left: 1em;
  }
}
